PORT=3001
DATABASE_URL=postgres://user:password@host/neondb?sslmode=require
SUPABASE_URL=sua_url_supabase_para_storage
SUPABASE_KEY=sua_secret_key_supabase_para_storage
REDIS_URL=sua_url_redis_upstash
JWT_SECRET=uma_chave_secreta_longa_e_segura
ADMIN_PASSWORD=admin123
